<h3>
    {{page_name}}
</h3>
<div class="container" id="cardss">
    {{#each blocks}}
        <div class="card" id="card{{@index}}" onclick="showNewObjModal(this)">
            <h5>{{title}}</h5>
            <h6>{{content}}</h6>
        </div>
    {{/each}}
</div>