@import "../../node_modules/bootstrap/scss/bootstrap.scss";
.header-footer {
  background-color: lightblue;
  margin:auto;
}

.nav {
  .btn {
    background-color: blue;
    color: aliceblue;
  }
  .nav-item {
    .logo {
      width: 40px;
    }
    display: flex;
    flex-direction: row;
  }
  max-width: 1000px;
  min-width: 500px;
  margin: auto;
  background-color: lightblue;
}

#napit {
  .btn {
    font-size: small;
  }
  #nap::before {
    content: "60 руб";
    position: relative;
    background-color: rgb(66, 147, 240);
    width: 70px;
    height: 100px;
    top: 200px;
    left: 20px;
    border-radius: 20px;
    padding: 7px;
    height: 40px;
  }
  max-width: 1000px !important;
  min-width: 500px !important;
  
}



#cardss {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   width: 1000px;
}
